
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/elements/button';
@import 'bulma/sass/elements/icon';
@import 'bulma/sass/elements/image';
@import 'bulma/sass/base/generic';
@import 'bulma/sass/components/card';
@import 'bulma/sass/elements/form';
@import 'bulma/sass/elements/title';
@import 'bulma/sass/grid/columns';
@import 'bulma/sass/layout/footer';
@import 'bulma/sass/components/media';
@import 'bulma/sass/layout/hero';
@import 'bulma/sass/grid/tiles';


html, body{
  height: 100%;
  margin: 0;
}

/*CONTAINER LAYOUT
 * ===============*/

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}


p.image {
  margin: 5px;
}

/*SOCIAL LINKS
===================*/
.social-links {
  a.icon {
    padding-right: 20px !important;
    color: #333;
    &:hover {
        color:black;
    }
  }
  padding-bottom: 20px;
}



